@import "tailwindcss";

@theme {
  --color-primary: #2b8cee;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101922;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  @apply transition-colors duration-200;
}
